.alert {
  border: 1px solid rgba(198, 83, 140, 0.88);
}

button {
  text-transform: uppercase;
}

.m-20 {
  margin: 20px 0;
}

.p-36 {
  padding: 36px;
}

.textWhite {
  color: white;
}

.rectButton {
  padding: 15px 31px 13px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  line-height: 1.2em;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.bgwhite {
  background-color: #fff;
}

.bgblack {
  background-color: #000;
}

.bgred {
  background-color: red;
}

.bggrey {
  background-color: #eaeaea;
}

.bglightGrey {
  background-color: #f7f7f7;
}

.flex-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Rockwell", serif;
  font-size: 100%;
  vertical-align: baseline;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topnav {
  padding: 0 36px;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.9);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.topnav .title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topnav .title h1 {
  color: #fff;
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 1;
}

.topnav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topnav .nav .navitem {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 0 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.topnav .hamburger {
  display: none;
}

.movileNav {
  display: none;
}

@media only screen and (max-width: 900px) {
  .nav {
    display: none !important;
  }
  .hamburger {
    width: 30px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hamburger .h {
    width: 20px;
    height: 3px;
    background-color: #fff;
    margin: 2px 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .movileNav {
    z-index: 1;
    width: 100vw;
    height: calc(100vh - 100px);
    background-color: white;
    position: fixed;
    top: 100px;
    display: none;
  }
  .navVisible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .movileNav .navbarMobile {
    padding-top: 27px;
  }
  .movileNav .navbarMobile .navitem {
    padding: 9px 36px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.mainslide {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainslide .textbox {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.mainslide .textbox .textboxTitle {
  font-weight: 800;
  font-size: 50px;
  text-align: center;
}

.mainslide .textbox .hline {
  width: 90px;
  height: 0px;
  margin: 27px auto;
  border-bottom: 2px solid #fff;
}

.mainslide .textbox .textboxText {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.75;
  text-align: center;
}

.mainslide .textbox .button {
  border-radius: 10em;
  border-color: #fff;
  background-color: #fff;
  padding: 13px 31px;
  margin-top: 36px;
}

@media only screen and (max-width: 600px) {
  .mainslide {
    width: 100vw;
    height: 100vh;
  }
  .mainslide .textbox {
    /*             .hline {
                width: 90px;
                height: 0px;
                margin: 27px auto;
                border-bottom: 2px solid $white;
            } */
  }
  .mainslide .textbox .textboxTitle {
    font-size: 32px;
  }
  .mainslide .textbox .textboxText {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.75;
  }
}

.white {
  background-color: pink;
}

.blue {
  background-color: blue;
}

.rowL {
  width: 100vw;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.colL-6 {
  width: 50%;
  min-width: 450px;
}

@media only screen and (max-width: 900px) {
  .rowL {
    min-height: 200px;
  }
  .r {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .colL-6 {
    width: 100%;
    min-height: 100px;
  }
}

.sTitle {
  padding: 72px 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sTitle h2 {
  margin: 10px 10px 70px 10px;
  font-size: 35px;
  text-align: center;
  font-weight: 400;
  max-width: 730px;
}

.sTitle svg {
  width: 64px;
}

.col-4 {
  width: 33.33%;
  height: 45vw;
  min-width: 200px;
}

.helpSlide {
  height: 45vw;
  padding: 10px 20px;
}

.hCentered {
  font-weight: 300;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.emailForm {
  width: 100%;
  max-width: 730px;
}

.emailSub {
  width: 75%;
  padding: 10px 27px;
  border-radius: 30px 0 0 30px;
}

.emailSubButton {
  width: 25%;
  border-radius: 0 30px 30px 0;
  padding: 10px 27px 10px 27px;
  margin: 0 0 0 -5px;
  text-align: center;
  color: #fff;
  background-color: #e154b0;
  border-color: #e154b0;
}

.hero {
  background-color: antiquewhite;
  height: 45.8vw;
  min-height: 600px;
}

.cardRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.cardRow .cards {
  width: 90%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardRow .cards .card {
  border: 1px solid black;
  width: 33.33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 900px) {
  .cardRow .cards .card {
    padding: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .cardRow .cards {
    width: 98%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cardRow .cards .card {
    border: none;
    width: 100%;
    padding: 54px 36px;
  }
}
/*# sourceMappingURL=style.css.map */