$base-color: #c6538c;
$white: #fff;
$black: #000;
$grey:  #eaeaea;
$lightGrey: #f7f7f7;

$orange: #ffa101;
$orange-l: #ffd249;
$orange-d: #c67200;

$yellow: #fae6b1;

$teal: #b3dee5;

$border-dark: rgba($base-color, 0.88);

.alert {
  border: 1px solid $border-dark;
}

button {
  text-transform: uppercase;
}

