.m-20 {
    margin: 20px 0;
}

.m-10 {
    margin: 10px 0;
}

.mt-20 {
    margin-top: 30px;
}

.mt-20R {
    margin-top: 30px;
}

@media only screen and (max-width: 900px) {
    .mt-20R {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .mt-20R {
        margin-top: -30px;
    }
}

.mb-0 {
    margin-bottom: 0 !important;
}


.p-36 {
    padding: 36px;
}

.p-72 {
    padding: 72px 36px;
}

.pb-0 {
    padding-bottom: 0;
}

.flex {
    display: flex;
}

.whitespace {
    background-color: $white;
    padding: 36px;
}

.textBold {
    font-weight: 600;
}

.textItalic {
    font-style: italic;
}

.textRespL {
    font-size: 4vw;
}

.ctaText {
    font-size: 30px !important;
}

@media only screen and (max-width: 900px) {
    .ctaText {
        font-size: 22px !important;
    }
}

.pBig {
    font-size: 20px;
}

.textBlack {
    color: black !important;
}

.textOrange {
    color: $orange-d;
}

.tCenter {
    text-align: center;
}

.tJustify {
    text-align: justify;
}


.sidetext {
    font-size: 18px;
    line-height: 1.75;

    p {
        margin: 5px 0;
    }
}

.rectButton {
    padding: 15px 31px 13px 31px;
    display: flex;
    text-align: center;
    line-height: 1.2em;
    font-size: 12px;
    cursor: pointer;
}

.blackButton {
    background-color: black;
    border-color: black;
    color: white;
}

.blackButton {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.whiteButton {
    background-color: white;
    border-color: black;
    color: black;
}

.orangeButton {
    background-color: $orange;
    border: 2px solid $orange;
    color: black;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.bgwhite {
    background-color: $white;
}

.bgblack {
    background-color: $yellow-l;
}

.bgred {
    background-color: red;
}

.bggrey, .bgYellow {
    background-color: $yellow;
}

.bglightGrey, .bgYellowL  {
    background-color: $yellow-l;
}


.flex-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-18 {
    font-size: 18px;
}

.sContainerXL {
    max-width: 1280px;
    margin: auto;
}


