.m-20 {
    margin: 20px 0;
}

.m-10 {
    margin: 10px 0;
}

.mb-0 {
    margin-bottom: 0;
}

.p-36 {
    padding: 36px;
}

.p-72 {
    padding: 72px 36px;
}

.textWhite {
    color: white;
}

.textBlack {
    color: black !important;
}

.rectButton {
    padding: 15px 31px 13px 31px;
    display: flex;
    text-align: center;
    line-height: 1.2em;
    font-size: 12px;
}

.blackButton {
    background-color: black;
    border-color: black;
    color: white;
}

.blackOButton {
    background-color: white;
    border: 2px solid black;
    color: black;
}

.whiteButton {
    background-color: white;
    border-color: black;
    color: black;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.bgwhite {
    background-color: $white;
}

.bgblack {
    background-color: $black;
}

.bgred {
    background-color: red;
}

.bggrey {
    background-color: $grey;
}

.bglightGrey {
    background-color: $lightGrey;
}

.flex-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-18 {
    font-size: 18px;
}

.sContainerXL {
    max-width: 1280px;
    margin: auto;
}


