.rowL {
  width: 100%;
  min-height: 100px;
  // background-color: aqua;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.sCol-6 {
  width: 50%;
  min-width: 300px;
}

@media only screen and (max-width: 900px) {
  .rowL {
      min-height: 200px;
  }

  .r {
      flex-direction: column-reverse;
  }

  .sCol-6 {
      width: 100%;
      min-height: 700px;
  }
}

.sTitle {
  padding: 72px 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  h1, h2 {
      margin: 10px 10px 70px 10px;
      font-size: 35px;
      text-align: center;
      font-weight: 400;
      max-width: 730px;
  }

  svg {
      width: 64px;
  }
}

.imgRow {
  height: 150px;
}

.myimg {
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .img3, .img4 {
      display: none;
  }

}

.col-4 {
  border: 3px solid $orange;
  width: 33.33%;
  height: 25vw;
  min-width: 200px;
}

@media only screen and (max-width: 900px) {
  .col-4 {
    min-height: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .col-4 {
      width: 100vw;
      height: 40vw;
  }

}

.sidetext {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
}

.hCentered {
  font-weight: 300;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero {
  background-color: antiquewhite;
  text-shadow: 1px 1px black;
  color: $orange;
}

.cardRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .cards {
      width: 90%;
      max-width: 1200px;
      display: flex;

      .card {
          border: 3px solid $orange;
          width: 33.33%;
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
  }
}


@media only screen and (max-width: 900px) {
  .cardRow {

      .cards {
          width: 98%;
          display: flex;
          flex-wrap: wrap;

          .card {
              width: 100%;
              padding: 54px 36px;
          }
      }
  }
}

@media only screen and (max-width: 600px) {
  .cardRow {

      .cards {
          width: 98%;
          display: flex;
          flex-wrap: wrap;

          .card {
              width: 100%;
              padding: 54px 36px;
          }
      }
  }
}

.infoVisible {
  display: block;
}

.map {
  display: flex;
  justify-content: center;
}
