.footerNav {
  display: flex;

  .navitem {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.05em;
      padding: 0 14px;
      align-self: center;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      color: black;
  }
}

@media only screen and (max-width: 900px) {

  .footerNav {
      display: flex;
      flex-direction: column;

      .navitem {
          font-size: 12px;
          padding: 5px 36px;
      }
  }
}

.sFooter {
  background-color: $teal;
  color: $black;
  width: 100vw;

  p {
      padding-bottom: 16px;
  }


  .social {
      padding-top: 16px;
  }
}