@import './basics';
@import './custom';
@import './nav';
@import './index';
@import './etrend+rolam';
@import './edzes';
// @import './videok';            
@import './recipe';
@import './rolam';
@import './footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Rockwell", serif;

    font-size: 100%;
    vertical-align: baseline;
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.instagram {
    font-size: 50px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.facebook .fab {
    font-size: 50px;
    color: #3b5998;
    background-color: transparent;
}
