@import './basics';
@import './custom';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Rockwell", serif;
    
    font-size: 100%;
    vertical-align: baseline;
}

.flex {
    display: flex;
}

.topnav {
    padding: 0 36px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.9);

    position: sticky;
    top: 0;
    z-index: 1;
    color: $white;
    border-bottom: 1px solid $white;

    .title {
        align-items: center;

        h1 {
            color: $white;
            margin-bottom: 0;
            font-size: 2rem;
            line-height: 1;
        }
    }

    .nav {
        display: flex;

           .navitem {
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.05em;
                padding: 0 14px;
                align-self: center;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                color: $white;
            }
        
    }

    .hamburger {
        display: none;
    }

}

.movileNav {
    display: none;
}

@media only screen and (max-width: 900px) {
    .nav {
        display: none !important;
    }

    .hamburger {
        width: 30px;
        display: flex !important;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;


        .h {
            width: 20px;
            height: 3px;
            background-color: $white;
            margin: 2px 0;
            align-self: flex-end;
        }
    }

    .movileNav {
        z-index: 1;
        width: 100vw;
        height: calc(100vh - 100px);
        background-color: white;
        position: fixed;
        top: 100px;
        display: none
    }
    
    .navVisible {
        display: flex; 
    }
    .movileNav {
        .navbarMobile {
            padding-top: 27px;
            display: flex;
            flex-direction: column;

            .navitem {
                padding: 9px 36px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                text-decoration: none;
                color: $black;
            }
        }
    }    
}



.mainslide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .textbox {
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
    
        .textboxTitle {
            font-weight: 800;
            font-size: 50px;
            text-align: center;
        }

        .hline {
            width: 90px;
            height: 0px;
            margin: 27px auto;
            border-bottom: 2px solid $white;
        }

        .textboxText {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.75;
            text-align: center;
        }

        .button {
            border-radius: 10em;
            border-color: $white;
            background-color: $white;
            padding: 13px 31px;
            margin-top: 36px;
        }

    }


}

@media only screen and (max-width: 600px) {
    .mainslide {
        width: 100vw;
        height: 100vh;

        .textbox {

            .textboxTitle {
                font-size: 32px;
            }
    
/*             .hline {
                width: 90px;
                height: 0px;
                margin: 27px auto;
                border-bottom: 2px solid $white;
            } */
    
            .textboxText {
                font-weight: 400;
                font-size: 18px;
                line-height: 1.75;
            }
        }
    }
}

.white {
    background-color: pink;
}

.blue {
    background-color: blue;
}

.rowL {
    width: 100vw;
    min-height: 400px;
    // background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    
}

.sCol-6 {
    width: 50%;
    min-width: 450px;
}

@media only screen and (max-width: 900px) {
    .rowL {
        min-height: 200px;
    }

    .r {
        flex-direction: column-reverse;
    }

    .sCol-6 {
        width: 100%;
        min-height: 100px;
    }
}

.sTitle {
    padding: 72px 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        margin: 10px 10px 70px 10px;
        font-size: 35px;
        text-align: center;
        font-weight: 400;
        max-width: 730px;    
    }

    svg {
        width: 64px;
    }
}

.col-4 {
    width: 33.33%;
    height: 45vw;
    min-width: 200px;
}

.helpSlide {
    height: 45vw;
    padding: 10px 20px;
}

.hCentered {
    font-weight: 300;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.emailForm {
    width: 100%;
    max-width: 730px;
}

.emailSub {
    width: 75%;
    padding: 10px 27px;
    border-radius: 30px 0 0 30px;
}

.emailSubButton {
    width: 25%;
    border-radius: 0 30px 30px 0;
    padding: 10px 27px 10px 27px;
    margin: 0 0 0 -5px;
    text-align: center;
    color: $white;
    background-color: #e154b0;
    border-color: #e154b0;
}

.hero {
    background-color: antiquewhite;
    height: 45.8vw;
    min-height: 600px;
}

.cardRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
    .cards {
        width: 90%;
        max-width: 1200px;
        display: flex;
        
        
        .card {

            border: 1px solid black;
            width: 33.33%;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 900px) {
    .cardRow {
       
        .cards {
                   
            .card {
                padding: 18px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .cardRow {
        
        .cards {
            width: 98%;
            display: flex;
            flex-wrap: wrap;
                      
            .card {
                border: none;
                width: 100%;
                padding: 54px 36px;
            }
        }
    }
}

.infoVisible{
    display: block;
}